*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box !important;
}
.custom-container{
    width: 1170px;
    margin: 0px auto;
}
li{
    list-style: none;
}

body{
    background-color: $background-color !important;
}
a{
    text-decoration: none !important;
}