.section{
    &__heading{
        margin: 0px 0px 76px;
        text-align: center;

        .title{
            font-size: 40px;
            font-weight: 700;
            line-height: 56px;
            color: $base-color;
        }
        .title-description{
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 12px;
            color: $text-color-faded;
        }
        .title-description-line{
            width: 87px;
            height: 4px;
            background-color: $base-color;
            margin: 0px auto;
        }
    }

    &__container{
        width: 960px;
        margin: 0 auto;
        transition: all ease 0.5s;
        .accordion-item{
            background-color: $background-color;    
            margin-bottom: 8px;
            border: none;
            transition: all ease 0.5s;
            &:last-child{
                margin-bottom: 88px;
            }

            .height-0{
                transition: all ease 0.5s;
                height: 0px !important;
                display: none;
            }

            li{
                list-style: square;
                color: $text-color-faded;
            }
        }

        .faq-accordion-heading{
            width: 960px;
            height: 65px;
            background-color: $container-color;
            padding: 20px 24px;
            color: $text-color-main;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            cursor: pointer;
            transition: all ease 0.5s;
            h6{
                margin: 0px;
            }
            i{
                font-size: 14px;
            }
        }
        .faq-accordion-description{
            padding: 20px 24px 58px;
            margin: 8px 0px 0px;
            background-color: $container-color;
            border: 1px solid $base-color;
            border-radius: 8px;
            transition: all ease 0.5s;
        
            &__heading{
                display: flex;
                justify-content: space-between;
                color: $text-color-main;
                h6{
                    font-size: 18px;
                    margin: 0px 0px 44px;
                    font-weight: 500;
                    line-height: 32px;
                    color: $base-color;
                }
                i{
                    font-size: 14px;
                }
            }

            p{
                margin: 0px;
                padding: 0px;
                line-height: 26px;
                color: $text-color-faded;
            }
        }
    }
}