.button-custom-sm{
    display: inline-block;
    text-decoration: none;
    width: 144px;
    height: 42px;
    background-color: $base-color;
    color: $container-color;
    border-radius: 8px;
    padding: 8px 10px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        transition: background-color 0.5s ease;
        background-color: $base-color-faded;
    }
}
.button-custom-md{
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 56px;
    background-color: $base-color;
    color: $container-color;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        transition: background-color 0.5s ease;
        background-color: $base-color-faded;
        color: $container-color;
    }
}

.button-custom-lg{
    display: inline-block;
    text-decoration: none;
    width: 320px;
    height: 56px;
    background-color: $base-color;
    color: $container-color;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 56px 320px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        transition: background-color 0.5s ease;
        background-color: $base-color-faded;
        color: $container-color;
    }
}
