.line{
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

// animation

.anim-typewriter {
    animation: typewriter 4s steps(11) 1s 1 normal both,
    blinkTextCursor 500ms steps(11) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 6em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}