//color variables

$background-color: #292836;
$background-color-dark: #292836;
$footer-color: #1e1d25;
$container-color: #323d44;
$base-color: #c7c2f9;
$base-color-faded: #aaa6e2ab;
$text-color-main: #F7F6EE;
$text-color-faded: rgba(247, 246, 238, 0.637);
$text-color-2x-faded: rgba(78, 78, 78, 0.726);
$color-warning: #ff0000;

//Color Variables
$gray: #F0F4F0;
$white: #fff;
$white-pale: rgba(#fff, .5);
$brand-color-light: #C9FFC7;
$brand-color: darken($brand-color-light, .001);
$black: #181C1F;
$black-v2: #242424;
$green: #12C097;
$green-v2: #008080;
$pure-green: #7DFF83;
$blue:#6699CC;
$pink: #F9BECC;
$dark-color: #2F4F4F;
$purple: #8B72BE;
$red:#EC1C24;
$rose-red: #FF496A;
$wooden: #B38B6D;
$black-dark-mode: #22252C;
$black-dark-mode-v2: #3B4046;
$warning: #FFB47D;